:root{
    --first: #c1ddc7;
    --second: #f5e8c6;
    --third: #bbcd77;
    --fourth: #dc8051;
    --fifth: #f4d279;
}

.image-header{
    background-image: url("https://images.pexels.com/photos/8521883/pexels-photo-8521883.jpeg");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center;
    height: 400px;
}

swiper-container {
    width: 240px;
    height: 320px;
}

swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.map{
    height: 400px;
    border-radius: 5px;
}

.style-icon{
    font-size: 30px;
}

.bg-first{
    background-color: white;
    color: Black;
}
.bg-first-dark{
  background-color: #aac4b0;
}
.enlace{
    color: black;
}
.enlace-activo{
    background-color: rgb(55, 216, 55);
    color: white;
}
.enlace:hover{
    background-color: rgb(55, 216, 55);
    color: white;
}
.bg-boton{
    background-color: rgb(55, 216, 55);
  }
  .bg-boton:hover{
    background-color: rgb(48, 189, 48);
  }