:root{
    --first: #c1ddc7;
    --second: #f5e8c6;
    --third: #bbcd77;
    --fourth: #dc8051;
    --fifth: #f4d279;
}

bg-body{
  background-color: rgba(60, 235, 60, 0.548);
}

.roboto-condensed, h2, a, p, h5{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.h1-color{
  color: rgb(55, 216, 55);
}

.span-color{
  background-color: rgb(55, 216, 55);
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
}

.bg-first{
    background-color: white;
    color: Black;
}
.bg-first-dark{
  background-color: #aac4b0;
}
.enlace{
  color: black;
}
.enlace:hover{
  background-color: rgb(55, 216, 55);
  color: white;
}

.bg-boton{
  background-color: rgb(55, 216, 55);
}
.bg-boton:hover{
  background-color: rgb(48, 189, 48);
}

.bg-second{
    background-color: var(--second);
    color: white;
}
.bg-third{
    background-color: var(--third);
    color: white;
}
.bg-fourth{
    background-color: var(--fourth);
    color: white;
}
.bg-fifth{
    background-color: var(--fifth);
    color: white;
}
/* .margin{
    margin-right: 0.1px;
} */
.hover-effect{
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.hover-effect:hover{
    background-color: rgba(248, 246, 246, 0.52); /* Cambia el color de fondo al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, .52);
}
.card-width{
    width: 450px;
}
  swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .swiper-div{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.3);
  }

li{
  list-style: disc;
}

.btn-hover:hover{
  background-color: rgb(245, 243, 243);
}