:root{
    --first: #c1ddc7;
    --second: #f5e8c6;
    --third: #bbcd77;
    --fourth: #dc8051;
    --fifth: #f4d279;
}

.bg-first{
    background-color: var(--first);
    color: white;
}
.bg-second{
    background-color: var(--second);
    color: white;
}
.bg-third{
    background-color: var(--third);
    color: white;
}
.bg-fourth{
    background-color: var(--fourth);
    color: white;
}
.bg-fifth{
    background-color: var(--fifth);
    color: white;
}
/* .margin{
    margin-right: 0.1px;
} */
.hover-effect{
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.hover-effect:hover{
    background-color: rgba(248, 246, 246, 0.52); /* Cambia el color de fondo al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, .52);
}
.image-header{
    background-image: url("https://images.pexels.com/photos/8521883/pexels-photo-8521883.jpeg");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center;
    height: 400px;
}
.card-width{
    width: 450px;
}
.swiper {
    width: 600px;
    height: 300px;
  }

  swiper-container {
    width: 240px;
    height: 320px;
  }

  swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

  swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }

  swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }

  swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }

  swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }

  swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }

  swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }

  swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }

li{
  list-style: disc;
}

.map{
  height: 400px;
  border-radius: 5px;
}